/* Media Query */

/*  XSM */

@media screen and (min-width: 0px) {
  nav .navbar-nav li:last-child > div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-amber-600);
  }
}

/*  SM */
@media screen and (min-width: 576px) {
}
/*  MD */

@media screen and (min-width: 768px) {
}
/*  LG */
@media screen and (min-width: 992px) {
  nav .navbar-nav li:last-child > div {
    width: 50px;
    height: 50px;
  }
}
/*  XL */
@media screen and (min-width: 1200px) {
}
/*  XXL */
@media screen and (min-width: 1400px) {
}
