/* Global styles */

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-container-lg {
  border-radius: 15px;
  width: 70px;
  height: 70px;
}
.icon-container-md {
  border-radius: 15px;
  width: 50px;
  height: 50px;
}

.icon-container-sm {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  font-size: 0.8rem;
}

.logo-icon-container {
  background: linear-gradient(
    to bottom,
    var(--color-violet-700),
    var(--color-violet-500)
  );
}

.logo-icon-container i {
  font-size: 1.4rem;
}

.btn-brand-color {
  background: linear-gradient(
    to right,
    var(--color-violet-700),
    var(--color-indigo-500)
  );
  color: var(--color-white);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-brand-color:hover {
  transform: translateY(-7px);
  color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.navbar-nav li button {
  font-size: 0.8rem;
}

.nav-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  overflow: hidden;
}
.nav-item.icon-container {
  transition: background-color 0.3s ease-in-out;
}
.nav-item.icon-container:hover {
  background-color: var(--color-gray-100);
}

.bg-stats-card-icon-1 {
  background-color: var(--color-indigo-500);
}

.bg-stats-card-icon-2 {
  background-color: var(--color-orange-500);
}

.bg-stats-card-icon-3 {
  background-color: var(--color-red-600);
}

header .custom-shadow {
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid var(--color-gray-200);
}

header .custom-shadow:hover {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.fa-magnifying-glass {
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 1.2rem;
  color: var(--color-gray-400);
  transition: color 0.3s ease-in-out;
  z-index: 999;
  pointer-events: none;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--color-violet-700);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(139, 92, 246, 0.25);
}

.custom-icon-container-for-contact-card i {
  font-size: 0.8rem;
}
.custom-circle-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 0.7rem;
  border: 2px solid var(--color-white);
}

.contact-name-phone h4 {
  font-size: 1rem;
  /* margin-bottom: 40px; */
}

.contact-name-phone p span:nth-child(2) {
  color: var(--color-gray-400);
  font-size: 0.8rem;
}

.card-badges span {
  font-size: 0.8rem;
}

.card-controls {
  cursor: pointer;
}

.register-form-container,
.register-form-container > div {
  height: 100vh;
}

.circle-form-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--color-indigo-600);
  color: #fff;
  font-size: 2rem;
}
